<template>
  <div class="centered-box">
    <div class="content-box">
      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md" style="padding: 20px;">
        <h5 class="agendar">Agende Aqui</h5>
        <q-input
          filled
          v-model="name"
          label="Seu nome *"
          hint="Nome"
          readonly
          style="margin-bottom: 20px;"
        />

        <q-select
          outlined
          v-model="professional"
          :options="professionalOptions"
          label="Profissional desejado *"
          hint="Seu profissional desejado"
          lazy-rules
          :rules="[ val => val && val || 'Por favor escolha seu profissional']"
          style="margin-bottom: 20px;"
        />

        <q-select
          outlined
          v-model="serviceId"
          :options="serviceOptions"
          label="Serviço solicitado *"
          hint="O serviço que você deseja agendar"
          lazy-rules
          :rules="[ val => !!val || 'Por favor escolha o serviço']"
          style="margin-bottom: 20px;"
        />

        <q-input
          filled
          type="date"
          v-model="date"
          label="Data do agendamento *"
          hint="Data que você deseja agendar o serviço"
          lazy-rules
          :rules="[ val => val && val.length > 0 || 'Por favor escolha uma data']"
          style="margin-bottom: 20px;"
        />

        <div class="Horarios">
          <h6 style="margin: -5px 0">Selecione o horário:</h6>
        </div>

        <div class="time-table">
          <div class="q-pa-md">
            <q-btn-toggle
              v-model="selectedTime"
              spread
              class="my-custom-toggle"
              no-caps
              rounded
              unelevated
              toggle-color="primary"
              color="white"
              text-color="primary"
              :options="firstRow"
              style="margin-bottom: 20px;"
              :disable="option => option.disabled"
            />
            <q-btn-toggle
              v-model="selectedTime"
              spread
              class="my-custom-toggle"
              no-caps
              rounded
              unelevated
              toggle-color="primary"
              color="white"
              text-color="primary"
              :options="secondRow"
              style="margin-bottom: 20px;"
              :disable="option => option.disabled"
            />
            <q-btn-toggle
              v-model="selectedTime"
              spread
              class="my-custom-toggle"
              no-caps
              rounded
              unelevated
              toggle-color="primary"
              color="white"
              text-color="primary"
              :options="thirdRow"
              style="margin-bottom: 20px;"
              :disable="option => option.disabled"
            />
            <q-btn-toggle
              v-model="selectedTime"
              spread
              class="my-custom-toggle"
              no-caps
              rounded
              unelevated
              toggle-color="primary"
              color="white"
              text-color="primary"
              :options="fourthRow"
              style="margin-bottom: 20px;"
              :disable="option => option.disabled"
            />
          </div>
        </div>

        <div class="button-group">
          <q-btn label="Agendar" type="submit" color="secondary" :disable="!formIsValid" />
          <q-btn label="Limpar" type="reset" color="secondary" flat class="q-ml-sm" />
        </div>
      </q-form>
    </div>
  </div>
</template>

<script>
import { ref, computed, onMounted, watch } from 'vue'
import { useRouter } from 'vue-router'
import axios from 'axios'
import { Notify } from 'quasar'

export default {
  setup () {
    const name = ref('')
    const naturalPersonId = localStorage.getItem('naturalPersonId')
    const professional = ref(null)
    const legalEntityId = ref('')
    const serviceId = ref(null)
    const date = ref('')
    const selectedTime = ref(null)

    const professionalOptions = ref([])
    const serviceOptions = ref([])

    const adjustTime = (timeString) => {
      const [hours, minutes] = timeString.split(':').map(Number)
      let adjustedHours = hours - 3

      // Se o ajuste resultar em um horário negativo, ajusta para o dia anterior
      if (adjustedHours < 0) {
        adjustedHours += 24
      }

      return `${String(adjustedHours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`
    }

    const timeOptions = ref([
      { label: '7:00', value: adjustTime('7:00'), disabled: false },
      { label: '7:30', value: adjustTime('7:30'), disabled: false },
      { label: '8:00', value: adjustTime('8:00'), disabled: false },
      { label: '8:30', value: adjustTime('8:30'), disabled: false },
      { label: '9:00', value: adjustTime('9:00'), disabled: false },
      { label: '9:30', value: adjustTime('9:30'), disabled: false },
      { label: '10:00', value: adjustTime('10:00'), disabled: false },
      { label: '10:30', value: adjustTime('10:30'), disabled: false },
      { label: '11:00', value: adjustTime('11:00'), disabled: false },
      { label: '11:30', value: adjustTime('11:30'), disabled: false },
      { label: '12:00', value: adjustTime('12:00'), disabled: false },
      { label: '12:30', value: adjustTime('12:30'), disabled: false },
      { label: '13:00', value: adjustTime('13:00'), disabled: false },
      { label: '13:30', value: adjustTime('13:30'), disabled: false },
      { label: '14:00', value: adjustTime('14:00'), disabled: false },
      { label: '14:30', value: adjustTime('14:30'), disabled: false },
      { label: '15:00', value: adjustTime('15:00'), disabled: false },
      { label: '15:30', value: adjustTime('15:30'), disabled: false },
      { label: '16:00', value: adjustTime('16:00'), disabled: false },
      { label: '16:30', value: adjustTime('16:30'), disabled: false },
      { label: '17:00', value: adjustTime('17:00'), disabled: false },
      { label: '17:30', value: adjustTime('17:30'), disabled: false },
      { label: '18:00', value: adjustTime('18:00'), disabled: false },
      { label: '18:30', value: adjustTime('18:30'), disabled: false }
    ])

    const firstRow = computed(() => timeOptions.value.slice(0, 6))
    const secondRow = computed(() => timeOptions.value.slice(6, 12))
    const thirdRow = computed(() => timeOptions.value.slice(12, 18))
    const fourthRow = computed(() => timeOptions.value.slice(18, 24))

    const router = useRouter()

    const agendar = () => {
      router.push('/Consultas')
    }

    const onReset = () => {
      naturalPersonId.value = ''
      professional.value = null
      legalEntityId.value = ''
      serviceId.value = null
      date.value = ''
      selectedTime.value = null
      resettime() // Resetar os horários
    }

    const resettime = () => {
      timeOptions.value.forEach(option => {
        option.disabled = false
      })
      timeOptions.value = [...timeOptions.value] // Atualizar para reatividade Vue
    }
    const formIsValid = computed(() => {
      return name.value && professional.value && serviceId.value && date.value && selectedTime.value
    })

    const fetchOptions = () => {
      const authToken = localStorage.getItem('authToken')
      axios.get(`http://localhost:5123/NaturalPerson/${naturalPersonId.value}`, {
        headers: {
          Authorization: `Bearer ${authToken}`
        }
      })
        .then(response => {
          if (response.data.length > 0) {
            name.value = response.data[0].name
          } else {
            console.error('Dados vazios ou não encontrados')
          }
        })
        .catch(error => {
          console.error('Erro ao buscar os dados da API de usuários:', error)
        })

      axios.get('http://localhost:5123/LegalEntity')
        .then(response => {
          professionalOptions.value = response.data.map(item => ({
            label: item.name,
            value: item.legalEntityId
          }))
        })
        .catch(error => {
          console.error('Erro ao buscar os dados da API de profissionais:', error)
        })

      // Inicialmente buscar todos os serviços disponíveis
      axios.get('http://localhost:5123/Service/LegalEntityId/f99359fa-a937-4e56-06e3-08dc957327ae')
        .then(response => {
          serviceOptions.value = response.data.map(item => ({
            label: item.name,
            value: item.serviceId
          }))
        })
        .catch(error => {
          console.error('Erro ao buscar os dados da API de serviços:', error)
        })
    }
    const fetchScheduledTimes = async (schedulingDate) => {
      try {
        const professionalId = professional.value.value // Substitua 'professional.value.value' pela forma correta de acessar o ID do profissional
        const url = `http://localhost:5123/Schedule/${professionalId}?date=${schedulingDate}`

        const response = await axios.get(url)
        const { schedulingsInfo } = response.data

        const selectedDate = new Date(schedulingDate)
        const scheduledTimes = schedulingsInfo
          .filter(info => {
            const scheduledDate = new Date(info.schedulingDate)
            return (
              scheduledDate.getUTCFullYear() === selectedDate.getUTCFullYear() &&
          scheduledDate.getUTCMonth() === selectedDate.getUTCMonth() &&
          scheduledDate.getUTCDate() === selectedDate.getUTCDate()
            )
          })
          .map(info => adjustTime(info.schedulingDate.slice(11, 16)))

        const availabilityUrl = `http://localhost:5123/Schedule/${professionalId}`
        const availabilityResponse = await axios.get(availabilityUrl)
        const { availableTimes } = availabilityResponse.data

        if (availableTimes.length > 0) {
          // Criar um array para armazenar todos os tempos desabilitados
          const disabledTimes = []

          // Iterar sobre cada intervalo de tempo em availableTimes
          availableTimes.forEach(({ startTime, endTime }) => {
            // Converter startTime e endTime para objetos Date
            const startDate = new Date(`2000-01-01T${startTime}:00Z`)
            const endDate = new Date(`2000-01-01T${endTime}:00Z`)

            // Subtrair 3 horas (ou ajustar conforme necessário)
            startDate.setHours(startDate.getHours() - 3)
            endDate.setHours(endDate.getHours() - 3)

            // Formatar de volta para o formato HH:mm
            const adjustedStartTime = startDate.toISOString().slice(11, 16)
            const adjustedEndTime = endDate.toISOString().slice(11, 16)

            // Adicionar intervalo de tempo ajustado ao array disabledTimes
            disabledTimes.push({ startTime: adjustedStartTime, endTime: adjustedEndTime })
          })

          // Aplicar lógica para desabilitar os tempos fora dos intervalos especificados
          timeOptions.value.forEach(option => {
            option.disabled = true
            const optionTime = option.value.slice(0, 5) // Extrair parte HH:mm

            // Verificar se o optionTime está dentro de algum dos intervalos desabilitados
            disabledTimes.forEach(({ startTime, endTime }) => {
              if (optionTime >= startTime && optionTime <= endTime && !scheduledTimes.includes(option.value)) {
                option.disabled = false
              }
            })
          })

          // Trigger Vue reactivity update (opcional, se necessário)
          timeOptions.value = [...timeOptions.value]
        } else {
          console.warn('No available times found.')
        }
      } catch (error) {
        console.error('Erro ao buscar os horários agendados:', error)
      }
    }

    const onSubmit = () => {
      if (selectedTime.value && !selectedTime.value.disabled) {
        const [hours, minutes] = selectedTime.value.split(':').map(Number)
        const localDate = new Date(date.value)

        localDate.setHours(hours)
        localDate.setMinutes(minutes)

        const utcYear = localDate.getUTCFullYear()
        const utcMonth = localDate.getUTCMonth()
        const utcDay = localDate.getUTCDate()
        const utcHours = localDate.getUTCHours()
        const utcMinutes = localDate.getUTCMinutes()

        const utcDate = new Date(Date.UTC(utcYear, utcMonth, utcDay, utcHours, utcMinutes))

        utcDate.setDate(utcDate.getUTCDate() + 1)

        const data = {
          schedulingDate: utcDate.toISOString(),
          naturalPersonId: naturalPersonId.value,
          legalEntityId: professional.value.value,
          serviceId: serviceId.value.value
        }

        axios.post('http://localhost:5123/Scheduling', data)
          .then(response => {
            Notify.create({
              type: 'positive',
              message: 'Agendamento realizado com sucesso!'
            })
            agendar()
          })
          .catch(error => {
            console.error('Erro ao enviar os dados:', error)
            Notify.create({
              type: 'negative',
              message: 'Ocorreu um erro ao realizar o agendamento.'
            })
          })
      } else {
        Notify.create({
          type: 'warning',
          message: 'Por favor, selecione um horário disponível.'
        })
      }
    }

    watch([professional, date], ([newProfessional, newDate]) => {
      if (newProfessional && newDate) {
        resettime() // Primeiro resetar os horários
        fetchScheduledTimes(newDate) // Depois buscar os horários agendados
      }
    })

    onMounted(() => {
      fetchOptions()
    })

    return {
      name,
      professional,
      professionalOptions,
      legalEntityId,
      serviceId,
      serviceOptions,
      date,
      selectedTime,
      timeOptions,
      firstRow,
      secondRow,
      thirdRow,
      fourthRow,
      formIsValid,
      onSubmit,
      onReset
    }
  }
}
</script>

<style scoped>
.centered-box {
  display: block;
  justify-content: center;
  align-items: center;
  background: #ebebeb;
  border-radius: 25px;
  width: 90%;
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
}

.content-box {
  background-color: #ebebeb;
  border-radius: 15px;
  padding: 20px;
}

.button-group {
  margin-top: 20px;
  display: flex;
}

.time-table {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.time-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.selected {
  background-color: #2196F3 !important;
  width: 100%;
}

.my-custom-toggle {
  border: 1px solid #027be3;
  width: 100%;
}

.agendar {
  display: flex;
  justify-content: center;

  color: #3fa6b8;
  font-weight: bold;
  font-size: 30px;
  width: 100%;
}

.Horarios {
  display: flex;
  justify-content: center;
  color: #3fa6b8;
  font-weight: bold;
  font-size: 30px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .time-table {
    flex-direction: column;
  }
}
</style>
