<template>
  <q-spinner v-if="isLoading" />
  <div class="q-pa-md">
    <q-table
      flat bordered
      ref="tableRef"
      title="Agenda"
      :rows="rows"
      :columns="columns"
      :table-colspan="10"
      row-key="index"
      v-if="!isLoading"
      :rows-per-page-options="[5, 10, 15, 20]"
      v-model:pagination="pagination"
    >
      <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="legalEntityName" :props="props">
            {{ props.row.legalEntityName }}
          </q-td>
          <q-td key="schedulingDate" :props="props">
            {{ props.row.schedulingDate }}
          </q-td>
          <q-td key="Hora" :props="props">
            {{ props.row.hora }}
          </q-td>
          <q-td key="serviceName" :props="props">
            {{ props.row.serviceName }}
          </q-td>
          <q-td class="my-custom-padding" align="center">
            <q-btn color="negative" label="Desmarcar" @click="cancelarAgendamento(props.row)" />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>
import { ref, onMounted } from 'vue'
import { Notify } from 'quasar'

export default {
  setup () {
    const isLoading = ref(true)
    const rows = ref([])

    const columns = [
      {
        name: 'legalEntityName',
        required: true,
        label: 'Nome',
        align: 'left',
        field: row => row.legalEntityName,
        format: val => `${val}`,
        sortable: true
      },
      { name: 'schedulingDate', label: 'Data', field: 'schedulingDate', sortable: true },
      { name: 'Hora', label: 'Hora', field: 'hora', sortable: true },
      { name: 'serviceName', label: 'Serviço', field: 'serviceName' }
    ]

    const pagination = ref({
      page: 1,
      rowsPerPage: 10 // Configuração inicial para 10 linhas por página
    })

    onMounted(async () => {
      try {
        const authToken = localStorage.getItem('authToken')
        const response = await fetch('http://localhost:5123/Scheduling/naturalPerson/8a70212a-4cee-4617-c1a7-08dc92c4dc84', {
          headers: {
            Authorization: `Bearer ${authToken}`
          }
        })
        const data = await response.json()

        // Processar os dados para formatar data e hora
        rows.value = data.map(item => {
          const dateTime = new Date(item.schedulingDate)
          return {
            ...item,
            schedulingDate: dateTime.toLocaleDateString(), // Formatar a data
            hora: dateTime.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' }), // Formatar a hora
            schedulingId: item.schedulingId, // Adicionar schedulingId
            legalEntityId: item.legalEntityId // Adicionar legalEntityId
          }
        })
        isLoading.value = false
      } catch (error) {
        Notify.create({ type: 'negative', message: 'Erro ao buscar dados da API' })
        console.error('Erro ao buscar dados da API:', error)
        isLoading.value = false
      }
    })

    const cancelarAgendamento = async (row) => {
      try {
        const authToken = localStorage.getItem('authToken')
        const response = await fetch(`http://localhost:5123/Scheduling/cancel/${row.schedulingId}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${authToken}`
          },
          body: JSON.stringify({
            schedulingId: row.schedulingId,
            owner: row.legalEntityId
          })
        })

        if (response.ok) {
          const index = rows.value.indexOf(row)
          if (index !== -1) {
            rows.value.splice(index, 1)
          }
          Notify.create({ type: 'positive', message: 'Consulta cancelada com sucesso!' })
        } else {
          Notify.create({ type: 'negative', message: 'Erro ao cancelar consulta' })
          console.error('Erro ao excluir agendamento:', response.statusText)
        }
      } catch (error) {
        Notify.create({ type: 'negative', message: 'Erro ao cancelar consulta' })
        console.error('Erro ao excluir agendamento:', error)
      }
    }

    return {
      columns,
      rows,
      cancelarAgendamento,
      isLoading,
      pagination
    }
  }
}
</script>

<style>
.text-right {
  text-align: right;
}

button {
  display: block;
  width: 100%;
  height: 36px;
  border-radius: 30px;
  background-color: #26a69a;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.my-custom-padding {
  padding: 10%;
  text-align: right;
}
</style>
